.card-img-top{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}

.card{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}
.ItemDetailContainer a{
    color: #fff !important;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 8px;
    font-size: 1.5rem;
    
}